:root {
    --yellow: #BD8C55;
    --white: #FFF8EB;
    --red: #A92A2C;
    --lightblue: #587B85;
    --brown: #332822;
    font-family: 'Inconsolata', monospace;
    font-family: 'Shadows Into Light', cursive;
  }

  body{
    background-image: url("https://images.unsplash.com/photo-1514237487632-b60bc844a47d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  }

  h1{
    font-family: 'Inconsolata', monospace;
    color: var(--brown);
  }

  h2{
    color: var(--red);
  }

#titleBox {
    text-align: center;
    color: var(--brown);
}

p{
    color: var(--red);
}

#recipeContainer{
    text-align: center;
    border: 2px solid var(--brown);
    box-shadow: 5px 5px 5px var(--brown);
    padding: 20px;
    width: 20%;
    background-color: var(--white);
}
.dayOfWeek {
    border: 2px solid var(--brown);
    margin: 20px;
    padding: 20px;
    background-color: var(--yellow);
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#userWeek{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 2px solid var(--brown);
    box-shadow: 5px 5px 5px var(--brown);
    background-color: var(--white);   
}
#thePantry {
    border: 2px solid var(--brown);
    width: 20%;
    box-shadow: 5px 5px 5px var(--brown);
    text-align: center;
    background-color: var(--white);
}
.weekDay {
    text-align: center;
}
#shoppingListTitle {
    text-align: center;
}
#theShoppingListDiv{
    border: 2px solid var(--brown);
    box-shadow: 5px 5px 5px var(--brown);
    padding: 20px;
    margin: 10px;
}

button{
    background-color: var(--brown);
    color: var(--lightblue);
    font-family: 'Inconsolata', monospace;
}

#daysSubmit, 
#mealSubmit{
    background-color: var(--brown);
    color: var(--lightblue);
}

input{
    background-color: var(--yellow);
    color: var(--red);
        font-family: 'Inconsolata', monospace; 
}

select{
    background-color: var(--yellow);
    color: var(--red);
}

#theShoppingListDiv{
    background-color: var(--yellow);
}

