:root {
    --yellow: #F3DFC9;
    --white: #FFF8EB;
    --red: #A92A2C;
    --lightblue: #587B85;
    --brown: #332822;
    --border-radius: 15px;
    --font-family: 'Shadows Into Light', cursive;
    --box-shadow: 1px 1px 20px 6px var(--brown);
    --text-shadow: 1px 1px 2px black;
    --border: 1px solid var(--brown);
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Shadows Into Light', cursive; */
}

body {
    background-image: url("https://images.unsplash.com/photo-1514237487632-b60bc844a47d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    text-shadow: var(--text-shadow);
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: var(--font-family);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0px;
}

#titleBox {
    text-align: center;
    color: var(--brown);
    padding-bottom: 0px;
}

h1 {
    color: var(--brown);
    font-size: 5em;
    color: var(--white);
    text-shadow: var(--text-shadow);
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: var(--white);
    font-size: 2em;
}

h2:nth-of-type(1) {
    margin-bottom: 0px;
}

#weatherButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: var(--yellow);
    color: var(--red);
    font-family: 'Inconsolata', monospace;
    text-shadow: 1px 1px 1px var(--brown);
}

#locationSearch,
#locationSearchButton {
    width: 60%;
}

li,
p,
button {
    font-size: 1.3em;
}

p{
    color: var(--white);
    text-align: center;
    font-size: x-large;
    background: var(--lightblue);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 10px;
}

button {
    background-color: var(--brown);
    color: var(--lightblue);
    font-family: 'Inconsolata', monospace;
    margin-bottom: 15px;
    width: 80%;
}

#main-pantry-container {
    display: flex;
    justify-content: center;

}

#main-plan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#recipeContainer {
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 40vw;
    background-color: var(--lightblue);
    border-radius: var(--border-radius);
}

#recipeSearchInput {
    width: 80%;
}

.searchedRecipes {
    transition: 0.2s;
}

.searchedRecipes:hover {
    transform: translate(-5px, -5px);
}

#userWeek {
    display: flex;
    flex-direction: column;
    width: 40vw;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--lightblue);
    border-radius: var(--border-radius);
    align-items: center;
}

#userWeek button {
    align-items: center;
}

#userWeek h2 {
    text-align: center;
    text-shadow: var(--text-shadow)
}

.dayOfWeek {
    border: var(--border);
    margin: 20px;
    padding: 20px;
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    width: 80%;
    box-shadow: 1px 1px 3px 1px black;
}

.dayOfWeek h2 {
    text-decoration: underline;
}

.weekDay {
    text-align: center;
}

.highLowTemp {
    width: 60px;
    height: 100px;
    /* border: 1px solid black; */
    position: relative;
    top: -50px;
}

#thePantry,
#theShoppingListDiv {
    border: var(--border);
    height: 50%;
    width: 60vw;
    box-shadow: var(--box-shadow);
    text-align: center;
    background-color: var(--lightblue);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

#thePantry li:hover,
#theShoppingListDiv li:hover {
    color: var(--red);
}

#pantryInput {
    width: 80%;
}

#shoppingListTitle {
    text-align: center;
}

#daysSubmit,
#mealSubmit {
    background-color: var(--brown);
    color: var(--lightblue);
}

select {
    background-color: var(--yellow);
    color: var(--red);
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#weatherButtonDiv {
    padding: 25px;
}

/* *********** Responsive Design **************** */
@media screen and (max-width: 720px) {

    #userWeek,
    #recipeContainer,
    #thePantry,
    #theShoppingListDiv,
    #pantry {
        width: 80vw;
    }
}
